We craete KMM project in ios android and desktop for avalanche safety in mountains. Our users are skiers snowboarders hikers.
when you refactor o generete code - pls do not touch(refactor/change) existing code base - we should be 100% sure that nothing was broken.
Never delet comments untill i ask.