We create KMM project in ios android and desktop for avalanche safety in mountains. Our users are skiers snowboarders hikers.
when you refactor o generate code - pls do not touch(refactor/change) existing code base - we should be 100% sure that nothing was broken.
Never delete comments until i ask.